.tags
*.html
*.pdf
*.redxml
*.swp
*.txt
*.upload
*~
/.*.mk
/.gems/
/.idea/
/.refcache
/.venv/
/.vscode/
/*-[0-9][0-9].xml
/node_modules/
/versioned/
archive.json
draft-fenner-pim-deterministic-ecmp.xml
Gemfile.lock
package-lock.json
report.xml
!requirements.txt
